* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Roboto', sans-serif; text-decoration: none; }
section { width: 100%; min-height: 100vh; }

:root {
    --mustard-color: #FED253; 
        /* var(--mustard-color) */

    --vodka-color: #C3C3E6;
        /* var(--vodka-color) */

    --spanish-gray: #989898;
        /* var(--spanish-gray) */

    --white-color: #FFFFFF;
        /* var(--white-color) */

    --black-color: #000000;
        /* var(--black-color) */

  }

/* Logo texto preta */
#text-logo {
    display: block;
    height: 45px; width: 125px;
    background-image: url("../img/logo/logo-texto.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

/* Logo pequena preta */
#sm-logo-black {
    display: block;
    height: 25px; width: 80px;
    background-image: url("../img/logo/Facitio-logo-black.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

/* Logo pequena branca */
#sm-logo-white {
    display: block;
    height: 25px; width: 80px;
    background-image: url("../img/logo/Facitio-logo-white.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

/* Logo pequena amarela */
#sm-logo-yellow {
    display: block;
    height: 25px; width: 80px;
    background-image: url("../img/logo/Facitio-logo-yellow.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

/* Logo média preta */
#md-logo-black {
    display: block;
    height: 45px; width: 125px;
    background-image: url("../img/logo/Facitio-logo-black.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

/* Logo média branca */
#md-logo-white {
    display: block;
    height: 45px; width: 125px;
    background-image: url("../img/logo/Facitio-logo-white.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

/* Logo média branca */
#md-logo-yellow {
    display: block;
    height: 45px; width: 125px;
    background-image: url("../img/logo/Facitio-logo-yellow.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

/* Logo grande preta */
#bg-logo-black {
    display: block;
    height: 67.5px; width: 174px;
    background-image: url("../img/logo/Facitio-logo-black.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

/* Logo grande branca */
#bg-logo-white {
    display: block;
    height: 67.5px; width: 174px;
    background-image: url("../img/logo/Facitio-logo-white.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

/* Logo grande branca */
#bg-logo-yellow {
    display: block;
    height: 67.5px; width: 174px;
    background-image: url("../img/logo/Facitio-logo-yellow.svg");
    background-repeat: no-repeat;
    background-size: contain;
}







/* Buttons */
.md-btn {
    min-width: 200px;
    padding: 14px 20px;
    border-radius: 10px;
    border: 2px solid var(--mustard-color);
    color: #FED253;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: all .2s;
}

.lg-btn {
    min-width: 300px;
    padding: 14px 20px;
    border-radius: 10px;
    border: 2px solid #FED253;
    color: #FED253;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: all .2s;
}

.sm-btn{
    min-width: 100px;
    min-height: 35px;
    border-radius: 5px;
    border: 2px solid #FED253;
    color: #000000;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    transition: all .2s;    
}

.lg-btn:hover, .md-btn:hover{
    background-color: #FED253;
    color: #FFFFFF;
}