@import url("../../style.css");

main {
    display: flex;
}

body {
    background-color: var(--neutral);;
}

/* Auth */
#auth-wrapper {
    width: 100%; min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

 /* @media (max-width: 700px) {
    #auth-wrapper{
        background-size: contain; 
        background-image: none;     
    }    

    .auth-profile{
        right: 50%;
    }   
}  */

.steps {
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.steps div {
    background-color: var(--vodka-color);
    width: 50px; height: 50px;
    border-radius: 30px;
    display: flex; 
    justify-content: center;
    align-items: center;
    color: var(--neutral);
}

.steps hr{
    height: 80%;
    width: 0%;
    transform: rotate(90deg);
    position: absolute;
    top: -17.5%; 
    z-index: -1;
    background-color: var(--vodka-color);
    border: 2px solid var(--vodka-color);
}

.steps :nth-child(1) {
    background-color: var(--mustard-color);
}

/* Auth profile */
.auth-profile {
    height: 100vh;
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.auth-profile h2{font-size: 1.8em;}
.auth-profile h2,h3,p,a   {text-align: center;}
.auth-profile a { margin-top: 10px; }

.auth-profile form input{z-index: 5;}
.auth-profile form label {color: var(--spanish-gray);}

.auth-profile form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    /* border: 1px solid red; */
}

.auth-profile form input[type="text"],input[type="password"],input[type="number"],input[type="email"]{
    width: 90%;
    margin-right: 10px;
    padding: 12px 20px;
    padding-left: 40px;
    border: 2px solid var(--spanish-gray);
    border-radius: 10px;
    font-size: 1.1rem;
    outline: none;
    background: transparent;
}

.inp form input[type="submit"] {
    font-size: 1.1rem;
    padding: 12px 20px;
    border: 2px solid #C3C3E6;
    border-radius: 10px;
    outline: none;
    background-color: #C3C3E6;
    cursor: pointer;
}


#form-area{
    background-color: var(--neutral);;
    width: 70vw;
    height: 65vh;
    box-shadow: 0px 4px 4px 0px #00000060;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.inp-ico{
    position: relative;
    top: 60px;
    padding-left: 10px;
    z-index: 5;
}



#ftr-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    min-height: 50px;
    font-size: 1.2em;
    color: var(--black-color);
}



.btn-yellow {
    width: 100%;
    padding: 14px 20px;
    border-radius: 5px;
    border: 2px solid var(--mustard-color);
    color: var(--neutral);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: all .2s;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: var(--mustard-color);
}
