@import url("../../style.css");

/* Auth */
#auth-wrapper { width: inherit; height: inherit; display: flex; justify-content: space-around; align-items: center; }
.auth-content { width: 50%; display: flex; flex-direction: column; justify-content: space-between; align-items: center; gap: 40px; }
.auth-sub-content { display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 20px; }
.auth-sub-content form { display: flex; flex-direction: column; gap: 20px; }
.auth-sub-content button { width: 300px; }
#auth-error-msg-signin { min-width: 200px; height: 8vh; border-radius: 8px; display: flex; align-items: center; color: red; padding-left: 8px; }

/* Signup form */
.signup-form { min-width: 50vw; min-height: 50vh; padding: 20px; background-color: var(--neutral); border-radius: 8px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.25); }
#auth-error-msg-signup { min-width: 50vw; min-height: 8vh; border-radius: 8px; display: flex; align-items: center; color: red; padding-left: 8px; background-color: var(--neutral); box-shadow: 0 0 5px rgba(0, 0, 0, 0.25); }
.form-title { text-align: center; }
.form-step { display: none; }
.active-step { display: block; padding: 32px 0px; animation: changeStep .2s linear; }
.form-step-content { display: flex; justify-content: center; gap: 25px; }
.step-buttons { display: flex; margin-top: 20px; }
.step-buttons button:only-child { margin-left: auto; }
.step-buttons button.prevBtn { margin-right: auto; }
.form-column { display: flex; flex-direction: column; justify-content: flex-start; align-items: center; gap: 15px; }
.steps { padding: 16px 0px; display: flex; align-items: center; justify-content: center; gap: 5px; }
.step { display: block; border-radius: 50%; width: 16px; height: 16px; background-color: var(--vodka-color); }
.active-step-icon { background-color: var(--black-color); }
.profile-photo-upload { display: block; width: 250px; height: 250px; background-image: var(--background); background-size: contain; background-position: center; background-repeat: no-repeat; }
.profile-photo-upload input { display: none; }

@keyframes changeStep { from { transform: translateY(5%); opacity: 0; } to { transform: translateY(0%); opacity: 1; } }

/* Footer */
#ftr-footer{ display: flex; align-items: center; justify-content: center; gap: 5px; font-size: var(--small-text); color: var(--black-color); }