@import "../../style.css";

/* Barra de navegação */
nav {
    width: 100%; height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav div{ display: flex; align-items: center; gap: 30px; }

/* Slogan section (slg-sec) */
.slg-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.slg-sec-right {
    display: block;
    width: 50%; height: 500px;
    background-image: url("../../../img/icons/SVG-Engineer.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.slg-sec-left {
    width: 50%; height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.slg-sec-left h1 { font-size: var(--big-header); max-width: 90%;}
.slg-sec-left h3 { font-size: var(--big-text); font-weight: normal; color: var(--spanish-gray); }

/* Category section (ctg-sec) */
.ctg-sec {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}

.ctg-opt { width: 100px; height: 100px; padding: 8px; border-radius: 4px; transition: all .2s; }
.ctg-opt a {
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: var(--small-text);
    text-align: center;
    font-weight: bold;
}

.ctg-opt:hover {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
    background-color: var(--neutral);
}

/* Highlight section (hglg-sec) */
.hglg-sec { margin-top: 100px; }
.hglg-sec h1 { text-align: center; }

.hglg-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px 30px;
    padding: 30px 0;
}

.card {
    width: 250px;
    background-color: var(--neutral);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    border-bottom: 5px solid #FED253;
    overflow: hidden;
    transition: all .2s;
}

.card:hover {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
}

.card-photo{
    height: 150px;
    background-image: url("../../../img/academico.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom-right-radius: 60px;
    -webkit-box-shadow: inset -4px -4px 5px rgba(0,0,0,0.25);
    -moz-box-shadow: inset -4px -4px 5px rgba(0,0,0,0.25);
    box-shadow: inset -4px -4px 5px rgba(0,0,0,0.25);
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
    padding: 14px 7px;
}

.card-content p {
    font-size: var(--medium-text);
}


.abt-us-sec{
    min-height: 200px;
    background-image: url("../../../img/background/Group2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: flex;
}

.abt-us-sec div:nth-child(1){
    width: 60%; min-height: 100%;
    margin: 10px;
    font-size: 18px;
    display: block;
}

.abt-us-sec div:nth-child(2){
    width: 10%; min-height: 100%;
    margin: 10px;
    font-size: 18px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.abt-us-sec p{
    padding-top: 20px;
}

.sgin-sec{
    min-height: 200px;
    padding: 30px;
}

.sgin-sec form {
    position: relative;
    display: flex;
    align-items: center;
}

.sgin-sec form input[type="email"], input[type="password"]{
    width: 20%;
    margin-right: 10px;
    padding: 12px 20px;
    border: 2px solid #C3C3E6;
    border-radius: 10px;
    font-size: 1.1rem;
    outline: none;
    background: none;
}

.sgin-sec form input[type="submit"] {
    font-size: 1.1rem;
    padding: 12px 20px;
    border: 2px solid #C3C3E6;
    border-radius: 10px;
    outline: none;
    background-color: #C3C3E6;
    cursor: pointer;
}

footer{
    height: 280px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#footer div{
    width: 100%;   
}

#content-ftr-list{
    display: flex;
    justify-content: center;
    gap: 100px;
    text-align: center;
    padding-top: 20px;
}

#content-ftr-list ul{
    list-style: none;
    line-height: 40px;
}




#ftr-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    min-height: 50px;
    font-size: 1.2em;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #FED253;
}
