@import "../../style.css";

/* Barra de navegação */
nav { width: 100%; height: 90px; display: flex; justify-content: space-between; align-items: center; }
nav div{ display: flex; align-items: center; gap: 30px; }

/* Slogan section (slg-sec) */
.slg-sec { display: flex; justify-content: space-between; align-items: center; gap: 50px;}
.slg-sec-right { display: block; width: 50%; height: 500px; background-image: url("../../../img/icons/SVG-Engineer.svg"); background-repeat: no-repeat; background-size: contain; background-position: center; }
.slg-sec-left { width: 50%; height: 100%; display: flex; flex-direction: column; gap: 20px;}
.slg-sec-left h1 { font-size: var(--big-header); max-width: 90%;}
.slg-sec-left h3 { font-size: var(--big-text); font-weight: normal; color: var(--spanish-gray); }

/* Category section (ctg-sec) */
.ctg-sec { display: flex; justify-content: space-evenly; align-items: center; height: 100px; }
.ctg-opt { width: 100px; height: 100px; padding: 8px; border-radius: 4px; transition: all .2s; }
.ctg-opt a { width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 5px; font-size: var(--small-text); text-align: center; font-weight: bold; }
.ctg-opt:hover { box-shadow: 0px 0px 5px rgba(0,0,0,0.25); }

/* Highlight section (hglg-sec) */
.hglg-sec { margin-top: 100px; }
.hglg-sec h1 { text-align: center; }
.hglg-cards { display: flex; justify-content: space-between; flex-wrap: wrap; gap: 50px 30px; padding: 30px 0; }

/* About us article */
.abt-us-sec{ background-image: url("../../../img/background/Group2.svg"); background-repeat: no-repeat; background-size: cover; background-position: right; display: flex; flex-direction: column; justify-content: space-around; padding: 14px; }
.abt-us-sec div{ width: 70%; display: flex; flex-direction: column; align-items: flex-start; gap: 20px; }

/* Signin/Signup form */
.form-sec { display: flex;flex-direction: column; justify-content: center; gap: 15px; }
.form-sec form { width: inherit; height: inherit; display: flex; gap: 10px; }