@import "../../style.css";

/* Barra de navegação */
nav {
    width: 100%; height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav div{ display: flex; align-items: center; gap: 30px; }

#topside {
    min-height: 200px;
    /*box-shadow: x  y  blur  spread  */
    box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.500);

}

#wrapper-menu {
    min-height: 70px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#wrapper-menu button{
    border: none;
    background-color: transparent;
}


/* Highlight section (hglg-sec) */
.hglg-sec { margin-top: 100px; }
.hglg-sec h1 { text-align: center; }

.hglg-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px 30px;
    padding: 30px 0;
}

.card {
    width: 300px;
    background-color: var(--neutral);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    border-bottom: 5px solid #FED253;
    overflow: hidden;
    transition: all .2s;
}

.card:hover {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
}

.card-photo{
    height: 150px;
    background-image: url("../../../img/academico.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom-right-radius: 60px;
    -webkit-box-shadow: inset -4px -4px 5px rgba(0,0,0,0.25);
    -moz-box-shadow: inset -4px -4px 5px rgba(0,0,0,0.25);
    box-shadow: inset -4px -4px 5px rgba(0,0,0,0.25);
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
    padding: 14px 7px;
}

.card-content p {
    font-size: var(--medium-text);
}

.card-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer{
    height: 280px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#footer div{
    width: 100%;   
}

#content-ftr-list{
    display: flex;
    justify-content: center;
    gap: 100px;
    text-align: center;
    padding-top: 20px;
}

#content-ftr-list ul{
    list-style: none;
    line-height: 40px;
}




#ftr-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    min-height: 50px;
    font-size: 1.2em;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #FED253;
}
