@import "../../style.css";

.profile-tabs { height: 45px; border-bottom: 1px solid var(--spanish-gray); }
.tab-wrapper { height: 100%; display: flex; align-items: center; gap: 5px; }
.tab-btn { background-color: var(--neutral); padding: 8px 12px; border: none; font-weight: normal; }
.tab-btn:hover { background-color: rgba(255, 212, 82, 0.2); }
.active-tab { position: relative; font-weight: bold; }
.active-tab::before { content: ""; position: absolute; bottom: -12px; left: 0; width: 100%; height: 3px; background-color: var(--mustard-color); }