:root {
    --neutral: white;
        /* var(--neutral) */
    --mustard-color: #FED253; 
        /* var(--mustard-color) */
    --vodka-color: #C3C3E6;
        /* var(--vodka-color) */
    --spanish-gray: #989898;
        /* var(--spanish-gray) */
    --cool-december-color: #FDFBF8 ;
        /* var(--cool-december-color) */
    --black-color: #252525;
        /* var(--black-color) */
    --big-header: 2rem;
        /* var(--big-header) */
    --medium-header: 1.2rem;
        /* var(--medium-header) */
    --big-text: 1rem;
        /* var(--big-text) */
    --medium-text: 0.9rem;
        /* var(--medium-text) */
    --small-text: 0.8rem;
        /* var(--small-text) */
}

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background-color: var(--neutral); }
::-webkit-scrollbar-thumb { background-color: var(--black-color); border-radius: 2px; }

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    text-decoration: none;
    outline: none;
    color: var(--black-color);
}

body { background-color: var(--neutral); }
.wrapper { padding: 0px 65px; }
section { width: 100%; min-height: 100vh; }
article { width: 100%; min-height: 35vh; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Logo texto preta */
#text-logo {
    display: block;
    height: 45px; width: 125px;
    background-image: url("../img/logo/logo-texto.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* -- LOGO AMARELA -- */
#sm-logo-yellow {
    display: block;
    height: 25px; width: 80px;
    background-image: url("../img/logo/Facitio-logo-yellow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#md-logo-yellow {
    display: block;
    height: 45px; width: 125px;
    background-image: url("../img/logo/Facitio-logo-yellow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#bg-logo-yellow {
    display: block;
    height: 67.5px; width: 174px;
    background-image: url("../img/logo/Facitio-logo-yellow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* -- LOGO PRETA -- */
#sm-logo-black {
    display: block;
    height: 25px; width: 80px;
    background-image: url("../img/logo/Facitio-logo-black.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#md-logo-black {
    display: block;
    height: 45px; width: 125px;
    background-image: url("../img/logo/Facitio-logo-black.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#bg-logo-black {
    display: block;
    height: 67.5px; width: 174px;
    background-image: url("../img/logo/Facitio-logo-black.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* -- LOGO BRANCA -- */
#sm-logo-white {
    display: block;
    height: 25px; width: 80px;
    background-image: url("../img/logo/Facitio-logo-white.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#md-logo-white {
    display: block;
    height: 45px; width: 125px;
    background-image: url("../img/logo/Facitio-logo-white.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#bg-logo-white {
    display: block;
    height: 67.5px; width: 174px;
    background-image: url("../img/logo/Facitio-logo-white.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#icon-diploma {
    display: block;
    height: 44px; width: 44px;
    background-image: url("../img/icons/diploma.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#icon-carro {
    display: block;
    height: 44px; width: 44px;
    background-image: url("../img/icons/car.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#icon-baloes {
    display: block;
    height: 44px; width: 44px;
    background-image: url("../img/icons/balloons.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#icon-ferramentas {
    display: block;
    height: 44px; width: 44px;
    background-image: url("../img/icons/tools.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#icon-casa {
    display: block;
    height: 44px; width: 44px;
    background-image: url("../img/icons/home.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#icon-computador {
    display: block;
    height: 44px; width: 44px;
    background-image: url("../img/icons/computer.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#icon-design{
    display: block;
    height: 44px; width: 44px;
    background-image: url("../img/icons/design.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#icon-caretdown{
    display: block;
    height: 44px; width: 44px;
    background-image: url("../img/icons/CaretDown.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* 
    === TAMANHO DOS LINKS ===
*/
.title-link { font-size: var(--medium-header); font-weight: bold; }
.bg-link { font-size: var(--big-text); font-weight: bold; }
.md-link { font-size: var(--medium-text); }
.sm-link { font-size: var(--small-text); }

/* 
    === ESTILOS DOS LINKS ===
*/
.yellow-link { color: var(--mustard-color); }
.white-link { color: var(--neutral); }
.blue-link { color: var(--vodka-color); }
.black-link { color: var(--black-color); }
.gray-link { color: var(--spanish-gray); }

/* 
    === TAMANHO DOS BOTÕES ===
*/
.bg-btn {
    min-width: 200px;
    padding: 12px 16px;
    border-radius: 6px;
    font-weight: bold;
    font-size: var(--big-text);
    text-align: center;
    text-decoration: none;
    transition: all .2s;
    cursor: pointer;
}

.md-btn {
    min-width: 150px;
    padding: 10px 14px;
    border-radius: 6px;
    font-weight: bold;
    font-size: var(--medium-text);
    text-align: center;
    text-decoration: none;
    transition: all .2s;
    cursor: pointer;
}

.sm-btn {
    min-width: 100px;
    padding: 8px 10px;
    border-radius: 4px;
    font-size: var(--small-text);
    text-align: center;
    text-decoration: none;
    transition: all .2s;
    cursor: pointer;
}

/* 
    === ESTILOS DOS BOTÕES ===
*/

/* --- Outline --- */
.outline-yellow-btn {
    border: 2px solid var(--mustard-color);
    color: var(--mustard-color);
    background: none;
}
.outline-yellow-btn:hover {
    background-color: var(--mustard-color);
    color: var(--neutral);
}

.outline-white-btn {
    border: 2px solid var(--neutral);
    color: var(--neutral);
    background: none;
}
.outline-white-btn:hover {
    background-color: var(--neutral);
    color: var(--black-color);
}

.outline-blue-btn {
    border: 2px solid var(--vodka-color);
    color: var(--vodka-color);
    background: none;
}
.outline-blue-btn:hover {
    background-color: var(--vodka-color);
    color: var(--neutral);
}

.outline-black-btn {
    border: 2px solid var(--black-color);
    color: var(--black-color);
    background: none;
}
.outline-black-btn:hover {
    background-color: var(--black-color);
    color: var(--neutral);
}

.outline-gray-btn {
    border: 2px solid var(--spanish-gray);
    color: var(--spanish-gray);
    background: none;
}
.outline-gray-btn:hover {
    background-color: var(--spanish-gray);
    color: var(--neutral);
}

/* --- Filled --- */
.filled-yellow-btn {
    background-color: var(--mustard-color);
    color: var(--neutral);
    border: none;
}

.filled-white-btn {
    background-color: var(--neutral);
    color: var(--black-color);
    border: none;
}

.filled-blue-btn {
    background-color: var(--vodka-color);
    color: var(--neutral);
    border: none;
}

.filled-black-btn {
    background-color: var(--black-color);
    color: var(--neutral);
    border: none;
}

.filled-gray-btn {
    background-color: var(--spanish-gray);
    color: var(--neutral);
    border: none;
}

/* -- Transparent --- */
.transparent-yellow-btn {
    border: 2px solid transparent;
    background-color: transparent;
    color: var(--mustard-color);
}
.transparent-yellow-btn:hover {
    border: 2px solid var(--mustard-color);
}

.transparent-white-btn {
    border: 2px solid transparent;
    background-color: transparent;
    color: var(--neutral);
}
.transparent-white-btn:hover {
    border: 2px solid var(--neutral);
}

.transparent-blue-btn {
    border: 2px solid transparent;
    background-color: transparent;
    color: var(--vodka-color);
}
.transparent-blue-btn:hover {
    border: 2px solid var(--vodka-color);
}

.transparent-black-btn {
    border: 2px solid transparent;
    background-color: transparent;
    color: var(--black-color);
}
.transparent-black-btn:hover {
    border: 2px solid var(--black-color);
}

.transparent-gray-btn {
    border: 2px solid transparent;
    background-color: transparent;
    color: var(--spanish-gray);
}
.transparent-gray-btn:hover {
    border: 2px solid var(--spanish-gray);
}

/* 
    === BARRA DE PESQUISA ===
*/
.fullscreen-search-wrapper {
    max-width: 99.9%;
    max-height: 50px;
}

.bg-search-wrapper {
    max-width: 350px;
    max-height: 50px;
}

.md-search-wrapper {
    max-width: 500px;
    max-height: 40px;
}

.sw form {
    position: relative;
    width: 100%; height: 100%;
}

.sw form input {
    width: inherit; height: inherit;
    font-size: var(--big-text);
    padding: 14px 16px;
    border: 2px solid var(--spanish-gray);
    border-radius: 12px;
    outline: none;
}

.sw form input[type="submit"] {
    display: block;
    position: absolute;
    top: 50%; right: -1%;
    transform: translate(-50%, -50%);
    height: 24px; width: 24px;
    border: none;
    background-color: white;
    background-image: url("../img/icons/search.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 10;
    cursor: pointer;
}

/* 
    === CARD DO SERVIÇO ===
*/
.card {
    position: relative;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--neutral);
    border-radius: 13px;
    overflow: hidden;
    transition: all .2s;
}

.card-photo{
    height: 150px;
    background-image: url("../img/academico.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 13px;
    z-index: 1;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    padding: 14px 7px;
    transition: all .2s;
    z-index: 1;
}

.card-profile {
    display: flex;
    gap: 10px;
    align-items: center;
}

.card-profile-photo {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--black-color);
}

#card-aval {
    width: 115px; height: 21px;
    background-image: url("../img/icons/Estrelas.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

/* 
    === TAMANHO DOS INPUTS ===
*/
.bg-input {
    min-width: 200px;
    padding: 12px 16px;
    border-radius: 8px;
    font-size: var(--big-text);
    border-width: 3px;
    border-style: solid;
}

.md-input {
    min-width: 150px;
    padding: 10px 14px;
    border-radius: 6px;
    font-size: var(--medium-text);
    border-width: 2px;
    border-style: solid;
}

/* 
    === ESTILO DOS INPUTS ===
*/
.yellow-input { border-color: var(--mustard-color); }
.white-input { border-color: var(--neutral); }
.blue-input { border-color: var(--vodka-color); }
.black-input { border-color: var(--black-color); }
.gray-input { border-color: var(--spanish-gray); }