:root {
    --mustard-color: #FED253; 
        /* var(--mustard-color) */
    --vodka-color: #C3C3E6;
        /* var(--vodka-color) */
    --spanish-gray: #989898;
        /* var(--spanish-gray) */
    --cool-december-color: #FDFBF8 ;
        /* var(--cool-december-color) */
    --black-color: #252525;
        /* var(--black-color) */
    --big-text: 16;
        /* var(--big-text) */
    --medium-text: 14;
        /* var(--medium-text) */
    --small-text: 12;
        /* var(--small-text) */
}

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background-color: var(--cool-december-color); }
::-webkit-scrollbar-thumb { background-color: var(--black-color); border-radius: 2px; }

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    text-decoration: none;
    color: var(--black-color);
}

body { background-color: var(--cool-december-color); }
section { width: 100%; min-height: 100vh; }
h2,h3,h4,h5,h6 { color: var(--spanish-gray); font-weight: normal; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Logo texto preta */
#text-logo {
    display: block;
    height: 45px; width: 125px;
    background-image: url("../img/logo/logo-texto.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

/* -- LOGO AMARELA -- */
#sm-logo-yellow {
    display: block;
    height: 25px; width: 80px;
    background-image: url("../img/logo/Facitio-logo-yellow.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
#md-logo-yellow {
    display: block;
    height: 45px; width: 125px;
    background-image: url("../img/logo/Facitio-logo-yellow.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
#bg-logo-yellow {
    display: block;
    height: 67.5px; width: 174px;
    background-image: url("../img/logo/Facitio-logo-yellow.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

/* -- LOGO PRETA -- */
#sm-logo-black {
    display: block;
    height: 25px; width: 80px;
    background-image: url("../img/logo/Facitio-logo-black.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
#md-logo-black {
    display: block;
    height: 45px; width: 125px;
    background-image: url("../img/logo/Facitio-logo-black.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
#bg-logo-black {
    display: block;
    height: 67.5px; width: 174px;
    background-image: url("../img/logo/Facitio-logo-black.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

/* -- LOGO BRANCA -- */
#sm-logo-white {
    display: block;
    height: 25px; width: 80px;
    background-image: url("../img/logo/Facitio-logo-white.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
#md-logo-white {
    display: block;
    height: 45px; width: 125px;
    background-image: url("../img/logo/Facitio-logo-white.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
#bg-logo-white {
    display: block;
    height: 67.5px; width: 174px;
    background-image: url("../img/logo/Facitio-logo-white.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

/* 
    === TAMANHO DOS BOTÕES ===
*/
.bg-btn {
    min-width: 200px;
    padding: 12px 16px;
    border-radius: 10px;
    font-weight: bold;
    font-size: var(--big-text);
    text-align: center;
    text-decoration: none;
    transition: all .2s;
}

.md-btn {
    min-width: 150px;
    padding: 10px 14px;
    border-radius: 10px;
    font-weight: bold;
    font-size: var(--medium-text);
    text-align: center;
    text-decoration: none;
    transition: all .2s;
}

.sm-btn {
    min-width: 100px;
    padding: 8px 10px;
    border-radius: 10px;
    font-size: var(--small-text);
    text-align: center;
    text-decoration: none;
    transition: all .2s;
}

/* 
    === ESTILOS DOS BOTÕES ===
*/

/* --- Outline --- */
.outline-yellow-btn {
    border: 2px solid var(--mustard-color);
    color: var(--mustard-color);
}
.outline-yellow-btn:hover {
    background-color: var(--mustard-color);
    color: var(--cool-december-color);
}

.outline-white-btn {
    border: 2px solid var(--cool-december-color);
    color: var(--cool-december-color);
}
.outline-white-btn:hover {
    background-color: var(--cool-december-color);
    color: var(--black-color);
}

.outline-blue-btn {
    border: 2px solid var(--vodka-color);
    color: var(--vodka-color);
}
.outline-blue-btn:hover {
    background-color: var(--vodka-color);
    color: var(--cool-december-color);
}

.outline-black-btn {
    border: 2px solid var(--black-color);
    color: var(--black-color);
}
.outline-black-btn:hover {
    background-color: var(--black-color);
    color: var(--cool-december-color);
}

.outline-gray-btn {
    border: 2px solid var(--spanish-gray);
    color: var(--spanish-gray);
}
.outline-gray-btn:hover {
    background-color: var(--spanish-gray);
    color: var(--cool-december-color);
}

/* --- Filled --- */
.filled-yellow-btn {
    background-color: var(--mustard-color);
    color: var(--cool-december-color);
}

.filled-white-btn {
    background-color: var(--cool-december-color);
    color: var(--black-color);
}

.filled-blue-btn {
    background-color: var(--vodka-color);
    color: var(--cool-december-color);
}

.filled-black-btn {
    background-color: var(--black-color);
    color: var(--cool-december-color);
}

.filled-gray-btn {
    background-color: var(--spanish-gray);
    color: var(--cool-december-color);
}

/* -- Transparent --- */
.transparent-yellow-btn {
    border: 2px solid transparent;
    background-color: transparent;
    color: var(--mustard-color);
}
.transparent-yellow-btn:hover {
    border: 2px solid var(--mustard-color);
}

.transparent-white-btn {
    border: 2px solid transparent;
    background-color: transparent;
    color: var(--cool-december-color);
}
.transparent-white-btn:hover {
    border: 2px solid var(--cool-december-color);
}

.transparent-blue-btn {
    border: 2px solid transparent;
    background-color: transparent;
    color: var(--vodka-color);
}
.transparent-blue-btn:hover {
    border: 2px solid var(--vodka-color);
}

.transparent-black-btn {
    border: 2px solid transparent;
    background-color: transparent;
    color: var(--black-color);
}
.transparent-black-btn:hover {
    border: 2px solid var(--black-color);
}

.transparent-gray-btn {
    border: 2px solid transparent;
    background-color: transparent;
    color: var(--spanish-gray);
}
.transparent-gray-btn:hover {
    border: 2px solid var(--spanish-gray);
}

/* 
    === BARRA DE PESQUISA ===
*/
.bg-search-wrapper {
    max-width: 350px;
    max-height: 50px;
}

.md-search-wrapper {
    max-width: 500px;
    max-height: 40px;
}

.sw form {
    position: relative;
    width: 100%; height: 100%;
}

.sw form input {
    width: inherit; height: inherit;
    font-size: var(--big-text);
    padding: 14px 16px;
    border: 2px solid var(--spanish-gray);
    border-radius: 12px;
    outline: none;
}

.sw form input[type="submit"] {
    display: block;
    position: absolute;
    top: 50%; right: -1%;
    transform: translate(-50%, -50%);
    height: 24px; width: 24px;
    border: none;
    background-color: white;
    background-image: url("../img/icons/search.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 10;
    cursor: pointer;
}