:root {
    --neutral: white;
        /* var(--neutral) */
    --mustard-color: #FED253; 
        /* var(--mustard-color) */
    --vodka-color: #C3C3E6;
        /* var(--vodka-color) */
    --spanish-gray: #989898;
        /* var(--spanish-gray) */
    --light-gray: #F1F1F1;
        /* var(--light-gray) */
    --cool-december-color: #FDFBF8 ;
        /* var(--cool-december-color) */
    --black-color: #252525;
        /* var(--black-color) */
    --big-header: 2rem;
        /* var(--big-header) */
    --medium-header: 1.2rem;
        /* var(--medium-header) */
    --big-text: 1rem;
        /* var(--big-text) */
    --medium-text: 0.9rem;
        /* var(--medium-text) */
    --small-text: 0.8rem;
        /* var(--small-text) */
}

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background-color: var(--neutral); }
::-webkit-scrollbar-thumb { background-color: var(--black-color); border-radius: 2px; }

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    text-decoration: none;
    outline: none;
    color: var(--black-color);
}

body { background-color: var(--neutral); }
main { width: 100%; min-height: 100vh; }
section { width: 100%; min-height: 100vh; }
article { width: 100%; min-height: 35vh; margin-top: 30px; }
.wrapper { padding: 0px 65px; }
.main { padding-top: 220px; }
.header { width: 100%; position: fixed; top: 0; left: 0; padding: 0px 0px 20px 0px; background-color: var(--neutral); z-index: 10; transition: all .2s linear; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* 
    === IMAGENS DE BACKGROUND ===
*/
.half-background {
    display: block;
    width: 50%; height: 100vh;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
}

.background-sign-type { background-image: url("../img/background/SIGNIN-TYPE-SVG.svg"); }
.background-cliente { background-image: url("../img/background/CLIENTE-SVG.svg"); }
.background-profissional { background-image: url("../img/background/PROFISSIONAL-SVG.svg"); }
.background-engineer-svg { background-image: url("../img/background/ENGINEER.svg"); }

/* 
    === ÍCONES ===
*/
.icon {
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* Logo texto preta */
.text-logo {
    height: 45px; width: 125px;
    background-image: url("../img/logo/logo-texto.svg");
}

/* -- LOGO AMARELA -- */
.sm-logo-yellow {
    height: 25px; width: 80px;
    background-image: url("../img/logo/Facitio-logo-yellow.svg");
}

.md-logo-yellow {
    height: 45px; width: 125px;
    background-image: url("../img/logo/Facitio-logo-yellow.svg");
}
.bg-logo-yellow {
    height: 67.5px; width: 174px;
    background-image: url("../img/logo/Facitio-logo-yellow.svg");
}

/* -- LOGO PRETA -- */
.sm-logo-black {
    height: 25px; width: 80px;
    background-image: url("../img/logo/Facitio-logo-black.svg");
}

.md-logo-black {
    height: 45px; width: 125px;
    background-image: url("../img/logo/Facitio-logo-black.svg");
}

.bg-logo-black {
    height: 67.5px; width: 174px;
    background-image: url("../img/logo/Facitio-logo-black.svg");
}

/* -- LOGO BRANCA -- */
.sm-logo-white {
    height: 25px; width: 80px;
    background-image: url("../img/logo/Facitio-logo-white.svg");
}

.md-logo-white {
    height: 45px; width: 125px;
    background-image: url("../img/logo/Facitio-logo-white.svg");
}

.bg-logo-white {
    height: 67.5px; width: 174px;
    background-image: url("../img/logo/Facitio-logo-white.svg");
}

.icon-diploma {
    height: 44px; width: 44px;
    background-image: url("../img/icons/diploma.svg");
}

.icon-carro {
    height: 44px; width: 44px;
    background-image: url("../img/icons/car.svg");
}

.icon-baloes {
    height: 44px; width: 44px;
    background-image: url("../img/icons/balloons.svg");
}

.icon-ferramentas {
    height: 44px; width: 44px;
    background-image: url("../img/icons/tools.svg");
}

.icon-casa {
    height: 44px; width: 44px;
    background-image: url("../img/icons/home.svg");
}

.icon-computador {
    height: 44px; width: 44px;
    background-image: url("../img/icons/computer.svg");
}

.icon-design {
    height: 44px; width: 44px;
    background-image: url("../img/icons/design.svg");
}

.icon-hamburguer {
    height: 44px; width: 44px;
    background-image: url("../img/icons/menu-hamburguer-yellow.svg");
}

.icon-check {
    height: 16px; width: 16px;
    background-image: url("../img/icons/check.png");
}

.icon-caretdown{
    height: 36px; width: 36px;
    background-image: url("../img/icons/icon-caretdown.svg");
}

.icon-input-chave {
    height: 24px; width: 24px;
    background-image: url("../img/icons/icon-chave.svg");
}

.icon-input-telefone {
    height: 24px; width: 24px;
    background-image: url("../img/icons/icon-telefone.svg");
}

.icon-input-id {
    height: 24px; width: 24px;
    background-image: url("../img/icons/icon-idcard.svg");
}

.icon-input-arroba {
    height: 24px; width: 24px;
    background-image: url("../img/icons/icon-arroba.svg");
}

.icon-input-casa {
    height: 24px; width: 24px;
    background-image: url("../img/icons/icon-casa.svg");
}

.icon-input-data {
    height: 24px; width: 24px;
    background-image: url("../img/icons/icon-data.svg");
}

.icon-dinheiro {
    height: 24px; width: 24px;
    background-image: url("../img/icons/icon-dinheiro.svg");
}

.icon-estrela {
    height: 24px; width: 24px;
    background-image: url("../img/icons/icon-estrela.svg");
}

.icon-image {
    height: 32px; width: 32px;
    background-image: url("../img/icons/icon-image.svg");
}

/* 
    === TAMANHO DOS LINKS ===
*/
.title-link { font-size: var(--medium-header); font-weight: bold; }
.bg-link { font-size: var(--big-text); font-weight: bold; }
.md-link { font-size: var(--medium-text); }
.sm-link { font-size: var(--small-text); }

/* 
    === ESTILOS DOS LINKS ===
*/
.yellow-link { color: var(--mustard-color); }
.white-link { color: var(--neutral); }
.blue-link { color: var(--vodka-color); }
.black-link { color: var(--black-color); }
.gray-link { color: var(--spanish-gray); }

/* 
    === TAMANHO DOS BOTÕES ===
*/
.bg-btn {
    min-width: 200px;
    padding: 12px 16px;
    border-radius: 6px;
    font-weight: bold;
    font-size: var(--big-text);
    text-align: center;
    text-decoration: none;
    transition: all .2s;
    cursor: pointer;
}

.md-btn {
    min-width: 150px;
    padding: 10px 14px;
    border-radius: 6px;
    font-weight: bold;
    font-size: var(--medium-text);
    text-align: center;
    text-decoration: none;
    transition: all .2s;
    cursor: pointer;
}

.sm-btn {
    min-width: 100px;
    padding: 8px 10px;
    border-radius: 4px;
    font-size: var(--small-text);
    text-align: center;
    text-decoration: none;
    transition: all .2s;
    cursor: pointer;
}

/* 
    === ESTILOS DOS BOTÕES ===
*/

/* --- Outline --- */
.outline-yellow-btn {
    border: 2px solid var(--mustard-color);
    color: var(--mustard-color);
    background: none;
}
.outline-yellow-btn:hover {
    background-color: var(--mustard-color);
    color: var(--neutral);
}

.outline-white-btn {
    border: 2px solid var(--neutral);
    color: var(--neutral);
    background: none;
}
.outline-white-btn:hover {
    background-color: var(--neutral);
    color: var(--black-color);
}

.outline-blue-btn {
    border: 2px solid var(--vodka-color);
    color: var(--vodka-color);
    background: none;
}
.outline-blue-btn:hover {
    background-color: var(--vodka-color);
    color: var(--neutral);
}

.outline-black-btn {
    border: 2px solid var(--black-color);
    color: var(--black-color);
    background: none;
}
.outline-black-btn:hover {
    background-color: var(--black-color);
    color: var(--neutral);
}

.outline-gray-btn {
    border: 2px solid var(--spanish-gray);
    color: var(--spanish-gray);
    background: none;
}
.outline-gray-btn:hover {
    background-color: var(--spanish-gray);
    color: var(--neutral);
}

/* --- Filled --- */
.filled-yellow-btn {
    background-color: var(--mustard-color);
    color: var(--neutral);
    border: none;
}

.filled-white-btn {
    background-color: var(--neutral);
    color: var(--black-color);
    border: none;
}

.filled-blue-btn {
    background-color: var(--vodka-color);
    color: var(--neutral);
    border: none;
}

.filled-black-btn {
    background-color: var(--black-color);
    color: var(--neutral);
    border: none;
}

.filled-gray-btn {
    background-color: var(--spanish-gray);
    color: var(--neutral);
    border: none;
}

/* -- Transparent --- */
.transparent-yellow-btn {
    border: 2px solid transparent;
    background-color: transparent;
    color: var(--mustard-color);
}
.transparent-yellow-btn:hover {
    border: 2px solid var(--mustard-color);
}

.transparent-white-btn {
    border: 2px solid transparent;
    background-color: transparent;
    color: var(--neutral);
}
.transparent-white-btn:hover {
    border: 2px solid var(--neutral);
}

.transparent-blue-btn {
    border: 2px solid transparent;
    background-color: transparent;
    color: var(--vodka-color);
}
.transparent-blue-btn:hover {
    border: 2px solid var(--vodka-color);
}

.transparent-black-btn {
    border: 2px solid transparent;
    background-color: transparent;
    color: var(--black-color);
}
.transparent-black-btn:hover {
    border: 2px solid var(--black-color);
}

.transparent-gray-btn {
    border: 2px solid transparent;
    background-color: transparent;
    color: var(--spanish-gray);
}
.transparent-gray-btn:hover {
    border: 2px solid var(--spanish-gray);
}

/* 
    === BARRA DE PESQUISA ===
*/
.fullscreen-search-wrapper {
    max-width: 99.9%;
    max-height: 50px;
}

.bg-search-wrapper {
    max-width: 350px;
    max-height: 50px;
}

.md-search-wrapper {
    max-width: 500px;
    max-height: 40px;
}

.sw form {
    position: relative;
    width: 100%; height: 100%;
}

.sw form input {
    width: inherit; height: inherit;
    font-size: var(--big-text);
    padding: 14px 16px;
    border: 2px solid var(--spanish-gray);
    border-radius: 6px;
    outline: none;
}

.sw form input[type="submit"] {
    display: block;
    position: absolute;
    top: 50%; right: 0%;
    transform: translate(-50%, -50%);
    height: 24px; width: 24px;
    border: none;
    background-color: white;
    background-image: url("../img/icons/search.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 10;
    cursor: pointer;
}

/* 
    === Cabeçalho ===
*/
header.scrolled {
    padding: 0px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

nav {
    width: 100%; height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div{
    display: flex;
    align-items: center;
    gap: 20px;
}

.dropdown-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

.dropdown-btn {
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    top: 120%; right: 0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
    background-color: var(--neutral);
    z-index: 50;
}

.dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: all .1s linear;
}

.dropdown a:hover {
    background-color: var(--light-gray);
}

.dropdown a:first-child {
    border-radius: 4px 4px 0 0;
}

.dropdown a:last-child {
    border-radius: 0 0 4px 4px;
}

.dropdown-expanded {
    display: block;
}

.user-icon-photo {
    width: 36px; height: 36px;
    border-radius: 50%;
    overflow: hidden;
}

.user-icon-photo img {
    width: 100%;
}

.header-ctg-sec {
    width: 100%; height: 0vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    transition: all .4s ease-in-out;
}

.header-ctg-sec.expanded {
    height: 20vh;
}

.header-ctg-opt {
    width: 100px; height: 100px;
    padding: 8px;
    border-radius: 4px;
    transition: all .2s;
}

.header-ctg-opt a {
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; gap: 5px;
    font-size: var(--small-text);
    text-align: center;
    font-weight: bold;
}

.header-ctg-opt:hover {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
}

.button-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

.button-menu button {
    background: none;
    border: none;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.clicked {
    transform: rotate(180deg);
}

/* 
    === CARD DO SERVIÇO ===
*/
.card-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--neutral);
    border-radius: 13px;
    overflow: hidden;
    transition: all .2s;
}

.card-photo{
    height: 150px;
    background-image: url("../img/academico.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 13px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    padding: 14px 7px;
    transition: all .2s;
    z-index: 1;
}

.card-profile {
    display: flex;
    gap: 10px;
    align-items: center;
}

.card-profile-photo {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--black-color);
}

#card-aval {
    width: 115px; height: 21px;
    background-image: url("../img/icons/Estrelas.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

/* 
    === TAMANHO DOS INPUTS ===
*/
.bg-input {
    min-width: 200px;
    padding: 12px 16px;
    border-radius: 8px;
    font-size: var(--big-text);
    border-width: 3px;
    border-style: solid;
}

.md-input {
    min-width: 150px;
    padding: 10px 14px;
    border-radius: 6px;
    font-size: var(--medium-text);
    border-width: 2px;
    border-style: solid;
}

/* 
    === INPUT COM ICONE E LABEL ===
*/
.bg-icon-input {
    min-width: 300px;
    padding: 12px 16px 12px 44px;
    border-radius: 8px;
    font-size: var(--big-text);
    border-width: 2px;
    border-style: solid;
}
.inp-group { display: flex; flex-direction: column; gap: 2px; }
.inp-group label { font-size: var(--medium-text); color: var(--spanish-gray); }
.icon-group { position: relative; }
.icon-group span { position: absolute; top: 50%; left: 8%; transform: translate(-50%, -50%); }

/* 
    === ESTILO DOS INPUTS ===
*/
.yellow-input { border-color: var(--mustard-color); }
.white-input { border-color: var(--neutral); }
.blue-input { border-color: var(--vodka-color); }
.black-input { border-color: var(--black-color); }
.gray-input { border-color: var(--spanish-gray); }