@import url("../../style.css");

main {
    display: flex;
}

/* Auth */
#auth-wrapper {
    width: 100%; min-height: 100vh;
    background-image: url("../../../img/Background.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

/* Auth profile */
.auth-profile {
    position: absolute;
    top: 50%; right: 30%;
    transform: translate(50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blueviolet;
}

.auth-profile a { margin-top: 10px; }

.a {
    width: 50%;
    background-color: blue;
    background-image: url("../../../img/auth/background/Background.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
